{% extends 'base.html' %}

{% block title %}
    Глваная страница
{% endblock %}


{% block body  %}
    <h1><p align="center">Главная страница</p></h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Dolorum maiores officia vel voluptatibus!</li>
    <li>Aliquam animi ex maxime ratione!</li>
    <li>Adipisci aut doloribus minus recusandae?</li>
    <li>Atque dignissimos dolorum omnis quam.</li>
    <li>Delectus eos esse fuga quos.</li>
    <li>Corporis odit recusandae repudiandae tenetur.</li>
    <li>Dicta fugit nemo nesciunt voluptates.</li>
    <li>Ex optio quis tempore ullam!</li>
    <li>A facilis odit quidem voluptate?</li>
    <li>Dolores est impedit laborum rerum!</li>
    <li>Animi atque aut exercitationem repellendus.</li>
    <li>Alias asperiores numquam sapiente voluptatibus!</li>
    <li>Eos explicabo maxime neque vitae.</li>
    <li>Inventore laboriosam odit rerum sequi.</li>
    <li>Commodi iste obcaecati odit sint.</li>
    <li>Amet aut dolor eos rerum!</li>
    <li>Accusantium consequuntur dolores nihil ullam.</li>
    <li>Beatae consequatur cupiditate repudiandae tempora.</li>
    <li>Aliquam eligendi ipsum natus similique?</li>
    <li>Cum dicta dolorum fuga rem.</li>
    <li>Aliquid harum officiis tempora voluptates.</li>
    <li>Cupiditate distinctio dolores earum sapiente.</li>
    <li>Assumenda earum id ipsam nihil?</li>
    <li>Eos facilis nesciunt reprehenderit sequi.</li>
    <li>Alias autem nam qui vero?</li>
    <li>Adipisci fuga maxime quo unde.</li>
    <li>Aperiam, doloribus, iusto. Autem, perspiciatis?</li>
    <li>Assumenda at minima ut veritatis!</li>
    <li>Amet laboriosam nisi suscipit veritatis.</li>
    <li>Commodi necessitatibus officiis quo sunt.</li>
    <li>Asperiores distinctio dolorum fuga voluptas?</li>
    <li>Dolorem eos fugit provident quae.</li>
    <li>Assumenda ea hic nesciunt temporibus!</li>
    <li>Exercitationem incidunt nesciunt quibusdam voluptatem?</li>
    <li>Aspernatur enim impedit necessitatibus nemo.</li>
    <li>Ad id nostrum officia quis.</li>
    <li>Consequatur expedita ipsam minus nulla?</li>
    <li>Commodi consequatur doloribus nostrum possimus.</li>
    <li>Commodi error hic odit omnis!</li>
    <li>Eos iste itaque vel velit.</li>
    <li>Alias aspernatur necessitatibus quaerat sunt?</li>
    <li>Aperiam dicta dolorum esse facere!</li>
    <li>Deleniti harum odit praesentium quos!</li>
    <li>Accusantium adipisci eos incidunt reprehenderit?</li>
    <li>Blanditiis dignissimos eaque incidunt iste!</li>
    <li>Consequatur doloremque ducimus eos ipsa!</li>
    <li>Expedita nostrum provident tempore velit?</li>
    <li>Beatae enim explicabo placeat quis.</li>
    <li>Error fugiat neque obcaecati repellat?</li>
    <li>Cupiditate id libero odit quaerat?</li>
    <li>Atque illo obcaecati quis reiciendis.</li>
    <li>Deserunt eveniet molestias porro voluptates.</li>
    <li>Eius est illo quisquam sequi.</li>
    <li>Autem perferendis perspiciatis provident similique!</li>
    <li>Atque beatae earum placeat repellendus.</li>
    <li>Corporis praesentium quod similique vero.</li>
    <li>Enim iusto neque obcaecati quas?</li>
    <li>Laborum officia reiciendis veniam voluptatum.</li>
    <li>Saepe, sit, voluptates. Consequuntur, iste?</li>
    <li>Animi nobis quam qui quia.</li>
    <li>Asperiores atque deleniti dolorum sed!</li>
    <li>Blanditiis excepturi facilis magnam sequi.</li>
    <li>Illo officia quaerat quidem veniam!</li>
    <li>Magni placeat repellat vitae voluptatibus.</li>
    <li>Delectus maiores molestiae quae sequi.</li>
    <li>Doloribus ipsa, vitae? Assumenda, inventore!</li>
    <li>Asperiores magni quisquam temporibus voluptas.</li>
    <li>Error est magni provident quas.</li>
    <li>Ducimus molestiae unde vitae voluptate?</li>
    <li>Animi commodi inventore mollitia non!</li>
    <li>Doloremque eius error facilis laboriosam!</li>
    <li>Blanditiis earum fuga ipsam nulla?</li>
    <li>Facilis iste magni nihil porro.</li>
    <li>Eius esse eveniet impedit velit.</li>
    <li>Animi cum nulla qui sapiente!</li>
    <li>Corporis doloremque itaque quia voluptatem.</li>
    <li>Aliquid dolore quidem recusandae tenetur.</li>
    <li>Debitis eligendi fuga laboriosam molestiae?</li>
    <li>Aliquid deserunt eos reiciendis tempora!</li>
    <li>Aspernatur molestiae neque nesciunt non?</li>
    <li>Inventore nemo porro quia vitae.</li>
    <li>Accusamus at facilis nobis quod.</li>
    <li>Aliquam doloremque ea officia quasi!</li>
    <li>Accusamus exercitationem mollitia praesentium repudiandae.</li>
    <li>Adipisci error fugit quod veniam!</li>
    <li>Accusantium architecto deserunt earum vel?</li>
    <li>A esse et eveniet unde?</li>
    <li>Cumque ex maiores minus totam?</li>
    <li>Distinctio ex porro unde vero!</li>
{% endblock %}
